<!DOCTYPE html>
<html lang="hr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title layout:title-pattern="$CONTENT_TITLE"></title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<!--Navigation-->
<nav>
    <span>Web aplikacija za obradu datoteka (Java)</span>


    <ul>
        <li><a th:href="@{/generiranje}">Generiranje datoteke</a></li>

        <li><a th:href="@{/ucitavanje}">Učitavanje datoteke</a></li>
    </ul>

</nav>
<!--Navigation end-->

<!--Content-->
<div layout:fragment="content" class="content"></div>
<!--Content end-->
</body>

</html>